doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tango

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css' href='style.css')
  body

    article.classic
    
      section
        img(src='tango.png' width='100%')

      section
        h2 Sejarah Tango
        br
        p Pertama kali diperkenalkan Google pada 5 Juni 2014 atau sekitar 3 tahun yang lalu, Akan tetapi, adopsinya pada smartphone komersial baru dimulai pada Juni 2016 lalu.

      section
        h2.bullet Apa itu Tango ?
        br
        p.bullet Tango adalah adalah sebuah platform teknologi yang mengandalkan computer vision agar smartphone mampu mendeteksi posisinya sendiri di dunia nyata, tanpa perlu bantuan GPS ataupun sinyal lain yang bersifat eksternal.

      section
        h2 Keunggulan Tango
        br
        p(class="white") 1. Project Tango Memungkinkan Perangkat Mobile Melihat Lingkungan Sekitarnya
        p Project Tango Google menggunakan teknologi computer vision untuk mengenali lingkungan sekitarnya dan menangkap object 3 dimensi secara real time atau dengan kata lain memungkinkan perangkat mobile untuk melakukan mapping dengan memanfaatkan kamera yang tersemat di dalamnya. Hal ini membuat perangkat komputer, termasuk smartphone dan tablet untuk melihat layaknya manusia.
        
      section
        h2 Keunggulan Tango
        br
        p(class="white") 2. Augmented Reality yang lebih Nyata
        p Penerapan Project Tango Google umumnya terjadi pada wilayah Augmented Reality. Akan tetapi berbeda dengan Augmented Reality generasi awal, Project Tango tak membutuhkan marker. Itulah kenapa objek virtual yang ditampilkan pada layar smartphone yang mengadopsi platform ini bisa muncul dimana saja sesuai dengan desain dari sang pengembang aplikasi. Hal ini menyebabkan objek Augmented Reality yang ditampilkan lebih menyatu dengan lingkungan sekitarnya.

      section
        h2 Keunggulan Tango
        br
        p(class="white") 3. Dapat Berjalan secara Standalone
        p Berbeda dengan Hololens yang menggunakan headset Augmented Reality sebagai interface penghubung antara dunia digital dan dunia nyata, Project Tango Google bisa diterapkan langsung ke perangkat mobile seperti smartphone ataupun tablet. Dengan demikian, objek Augmented Reality yang diproses oleh perangkat akan langsung ditampilkan melalui layar smartphone ataupun tablet.
        
      section
        h2 Keunggulan Tango
        br
        p(class="white") 4. Bukan Sekedar Augmented Reality namun juga Interface Masa Depan
        p Penerapan Project Tango Google ini sangat luas sesuai dengan kreativitas pengembang aplikasinya. Tak hanya sekedar menampilkan objek virtual dan menyatukannya dengan dunia nyata, Project Tango juga memungkinkan pengembang untuk membuat interface yang lebih natural dan realistis. Dengan demikian, pengguna juga bisa berinteraksi dengan objek virtual dalam Augmented Reality tersebut.
      
      section
        h2.bullet Kelemahan Tango
        br
        ul
        li Terbatasnya Smartphone dan aplikasi yang mendukung Google Tango ini.
        li Hardware yang dibutuhkan Google Tango masih berukuran cukup besar.
        
      section
        h2.bullet Devices using Tango
        br
        img.bullet(src='lenovo-phab2-pro.png' width='100%')
    
      section
        h2.bullet Apps Tango
        br
        img.bullet(src='Apps.png' width='100%')
      
      section
        h2 Kesimpulan
        br
        p Dengan teknologi yang seperti itu, Google Tango sendiri akan banyak digunakan oleh developer untuk mengembangkan aplikasi navigasi dalam ruangan, 3D mapping, pengukuran benda/ruangan menggunakan smartphone, pengenalan lingkungan, dan tentu saja augmented-reality.
         
      section(data-bespoke-backdrop="backdrop-1")
        video(width='620', height='410', controls poster="tango-social.png")
          source(src='Video/ProjectTango.mp4', type='video/mp4')

           
    script(src='build/build.js')